.App {
  text-align: center;

}
div.ui.selection.dropdown{
  background-color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}


.App-header {
  background-color: #656368;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(233, 170, 133);
  font-family:'Handlee', cursive;
}

.App #todo-form input{
  /* background-color: rgb(30, 230, 230); */
  border: 0;
  width: 100px;
  height: 100px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  /* color: deeppink; */
}
#todo-form ::placeholder{
  color: rgb(235, 109, 218);
}

#todo-form input:focus,#todo-form buttom:focus{
  outline:none;
}

/* #todo-form button{
  height:100px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  color: fuchsia;
  cursor: pointer;
  font-weight: bold;
} */



  .todolistmainname{
  color: rgb(233, 133, 203);
  font-family:'Handlee', cursive;
  font-size: 80px;
}

.App-header #TodoList {
  font-size: 20px;
}
/* thiis the inside of the spacebar for input  */
.todo-input{
color:rgb(255, 0, 234);
}


/* this is to-do button */
.todo-button{
  color:rgb(218, 32, 196);
}

.box {
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 2em;
  }
  
  